.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid linear-gradient(ghostwhite,black,red,silver);
}

#start
{
font-size: 22px;
}

#status
{
    font-size:22px;
}

#restart
{
    font-size: 22px;
}

.copy_right_footer
{
background-image: linear-gradient(ghostwhite,black,red,silver);
color: lime;
}

canvas
{
    border-radius: 20;
    border: 3px solid lime;
    box-shadow: black;
}

.modal-dialog
{
    width: 70%;
}

.modal-body
{
    text-align: left;
    font-size: 20px;
}